.nav {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 50px;
    display: flex;
    list-style: none;
    border: 2px solid;
    background: linear-gradient(to bottom, #4ae251, #030005);
    border-radius: 13px;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10rem;
}

.button{
    font-family: 'Chakra Petch', sans-serif;
    background-color: rgb(159, 240, 44);
    border: 3px solid;
    border-color: #030005;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;

}