.background {
    border: 10px solid;
    background: linear-gradient(to bottom, #4ae251, #030005);
    border-radius: 30px;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
}


.App {
    text-align: center;
    padding: 50px;
}

.question-card {
    border: 10px solid;
    color: rgb(227, 243, 236);
    background: linear-gradient(to bottom, #071307, #030005);
    border-radius: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

.list {
    margin-top: 20px;
    background-color: #39c242;
    border-radius: 118px;
    border: 5px solid;
    box-shadow: rgba(59, 93, 50, 0.25) 0px 30px 60px -12px,
        rgba(106, 190, 69, 0.3) 0px 18px 36px -18px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;


}

.question-text {
    color: rgb(122, 245, 179);
    font-size: 24px;
}

.playlist {
    margin: 0 auto;
    background: linear-gradient(to bottom, #000000, #84ebad);
    padding: 16px;
    border-radius: 16px;
    color: white;
    width: 50%;
    height: auto;
    box-shadow: rgba(59, 93, 50, 0.25) 0px 30px 60px -12px,
        rgba(106, 190, 69, 0.3) 0px 18px 36px -18px;
}

button {
    border: 5px solid;
    background-color: rgb(162, 210, 140);
    color: rgba(51, 45, 45, 0.915);
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;

    border-radius: 24px;
}